<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ base_url() }}/static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{{ base_url() }}/static/css/main.css" >
    <link rel="icon" type="image/x-icon" href="{{ base_url() }}/static/template/favicon.ico" />
    {% block styles %}{% endblock %}
    <title>Students Enroller | {{page_title}}</title>
  </head>
  <body>
    {% if current_user %}
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="{{ base_url() }}/static/template/logo-white.png" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page_title == 'Enroll'%}active{% endif %}">
              <a class="nav-link" href="{{ base_url() }}/">Enroll
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item {% if page_title == 'Reports'%}active{% endif %}">
              <a class="nav-link" href="{{ base_url() }}/reports">Reports</a>
            </li>
            {% if current_user.is_admin == 1 %}
            <li class="nav-item {% if page_title == 'Admin Reports'%}active{% endif %}">
              <a class="nav-link" href="{{ base_url() }}/admin-reports">Admin Reports</a>
            </li>
            {% endif %}
          </ul>
          <span class="navbar-text">
              Welcome, {{current_user.full_name}}! (<a href="{{ base_url() }}/logout">Logout</a>)
          </span>
        </div>
      </nav>
    {% endif %}
    <div class="container">
    {% block body %}{% endblock %}
    </div>
    <script src="{{ base_url() }}/static/js/jquery-3.3.1.min.js"></script>
    <script src="{{ base_url() }}/static/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>

