{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" href="/static/css/login.css" >
{% endblock %}
{% block body %}
<div class="login-container">
  <div class="lg-logo">
    <img src="/static/template/logo.png">
  </div>
  {% if error %}
  <div class="alert alert-danger">
    {{error}}
  </div>
  {% endif %}
  <div class="white-box">
    <h4 class="text-center">Login</h4>
    <hr>
    <form method="POST">
      <div class="form-group">
        <label for="lg_username">Username</label>
        <input type="text" name="lg_username" class="form-control" id="lg_username" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="lg_password">Password</label>
        <input type="password" name="lg_password" class="form-control" id="lg_password" placeholder="Password">
      </div>
      
      <div class="form-button text-center">
          <button type="submit" class="btn btn-primary btn-block">Login</button>
          <div class="tb-margin-low">Don't have an account? <a href="/signup">Signup</a></p>
      </div>      
    </form>
  </div>
</div>
{% endblock %}
